/* custom styles here */
body {
    font-family: 'Josefin Slab', serif;
    color: white;
}
nav {
    background-color: black;
    
    
}
.navbar {
    display: flex;
    color: white;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px 120px;
}
h1 {
    margin-top: 60px;
}

.first {
    height: 500px;
    background-image: url('../assets/forks.png'), url('../assets/heading-frame.png'), url('../assets/main.jpg');
    background-position: center top, center, center;
    background-size: 60px 60px, 600px 150px, cover;
    
    background-repeat: no-repeat, no-repeat;
    
}
.first1 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding-top: 220px;
    line-height: 40px;
    
}
.second {
    height: 500px;
    text-align: center;
    background-image: url('../assets/knives-faded-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(173, 152, 98);
    
}
h3{
    font-size: 40px;
    margin-bottom: 50px;
}
.second1 {
    padding: 20px 100px;
    line-height: 35px;
    font-size: 15px;
}


.third {
    height: 500px;
    background-image: url('../assets/image3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fourth {
    height: 500px;
    background-color: black;
    background-image: url('../assets/cheese-board-border.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1000px 250px;
    
}

.fourthcontainer {
    
    
    margin-top: 160px;
    
    
}
.fourth1 {
    line-height: 20px;
    margin-top: 20px;
    padding: 0px 50px;
    
}
h4 {
    font-weight: 700;
    font-size: 40px;
    padding: 20px 10px;
    line-height: 20px;
}
.fifth {
    background-color: slategray;
    background-size: cover;
}

.fifth1 {
    text-align: center;
    padding: 20px 0px;
    
}
h6 {
    font-weight: 700;
    font-size: 30px;
}

.fifth2 {
    margin-top: 20px;
}
.fifth3 {
    margin-top: 20px;
}
.fifth4{
    width: 500px;
    height: 40px;
}

.fifth5 {
    margin-top: 15px;
    width: 1000px;
    height: 160px;
}
.fifthC{
    padding-bottom: 20px;
}
button {
    width: 100px;
    height: 40px;
    background: yellow;
    color: white;
    border-radius: 20px;
    border: none;

}
button:hover {
    color: yellow;
    background-color: white;
    border: 1px solid yellow;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-color: yellow;
}
.footer1 {
    padding-left: 50px;
    padding-top: 20px;
}
.footer2 {
    padding-right: 50px;
    padding-top: 20px;
}